<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <div class="container">
        <section class="perfilUsuario">
            <div class="row perfil mt-2">

                <div class="contenido text-left">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item " role="presentation">
                            <a class="nav-link <%= activeDetail %> " id="home-tab" data-toggle="tab" href="#detalle"
                                role="tab" aria-controls="home" aria-selected="true">Detalle del Producto</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link <%= activeEdit %>" id="profile-tab" data-toggle="tab" href="#editar"
                                role="tab" aria-controls="detalle" aria-selected="false">Editar Producto</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade <%= showDetail %> <%= activeDetail %> " id="detalle" role="tabpanel"
                            aria-labelledby="profile-tab">

                            <div class="row p-3">

                                <div class="col-12 col-md-4 mt-3">
                                    <figure class="text-center">
                                        <img src="/images/products/<%= producto.imagenes %> " alt="" class="img-fluid">
                                    </figure>
                                </div>
                                <div class="col-12 col-md-8 mt-3">
                                    <p>
                                        <%= producto.descripcion %>
                                    </p>
                                    <div class="row">
                                        <div class="col-12 col-lg-4">
                                            <span><b>Categoría:</b>
                                                <%= producto.categoria %>
                                            </span>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <span><b>Precio:</b> $
                                                <%=producto.precio.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")%>
                                            </span>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <span><b>Descuento:</b>
                                                <%=producto.descuento%>%
                                            </span>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="tab-pane fade <%= showEdit %> <%= activeEdit %>" id="editar" role="tabpanel"
                            aria-labelledby="home-tab">
                            <form action="/products/edit/<%= producto.id %>?_method=PUT" method="POST"
                                enctype="multipart/form-data">
                                <div class="row p-3">
                                    <div class="form-group col-12 col-md-6">
                                        <input class="form-control" type="text" value="<%= producto.nombre%>"
                                            name="nombre" id="nombre">
                                            <small id="errorNombre" class="text-danger"><%= (typeof errors != 'undefined' && errors.nombre)?errors.nombre.msg: "" %> </small>

                                    </div>
                                    <div class="form-group col-6 col-lg-3">

                                        <div class="input-group mb-2 mr-sm-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">$</div>
                                            </div>
                                            <input type="text" class="form-control" value="<%=producto.precio%>"
                                                name="precio" id="precio">
                                                <small id="errorPrecio" class="text-danger"><%= (typeof errors != 'undefined' && errors.precio)?errors.precio.msg: "" %> </small>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-3">
                                        <div class="input-group mb-2 mr-sm-2">

                                            <input type="text" class="form-control"
                                                value="<%=producto.descuento%>" name="descuento" id="descuento">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">%</div>
                                            </div>
                                            <small class="text-danger" id="errorDescuento"><%= (typeof errors != 'undefined' && errors.descuento)?errors.descuento.msg: "" %> </small>
                                        </div>
                                    
                                    </div>
                                    <div class="col-12 col-md-4 col-xl-4 mt-3">
                                        <figure class="text-center">
                                            <img src="/images/products/<%= producto.imagenes %> " alt=""
                                                class="img-fluid w-50">
                                        </figure>
                                        <div class="custom-file mt-4">
                                            <input type="file" class="custom-file-input " id="imagen" lang="en" name="imagen" value="<%= producto.imagenes %>">
                                            <label class="custom-file-label" for="customFileLang" id="labelImagen">Imagenes</label>
                                            <small id="errorImagen" class="text-danger"><%= (typeof errors != 'undefined' && errors.imagen)?errors.imagen.msg: "" %> </small>
                                          </div>
                                    </div>
                                    <div class="form-group col-12 col-md-8 col-xl-8 mt-3">
                                        <textarea class="form-control" rows="6" name="descripcion"
                                            id="descripcion"><%= producto.descripcion %></textarea>
                                            <small id="errorDescripcion" class="text-danger"><%= (typeof errors != 'undefined' && errors.descripcion)?errors.descripcion.msg: "" %> </small>

                                        <div class="row mt-3">
                                            <div class="form-group col-12 col-lg-6">

                                                <select name="categoria" class="form-control" id="selectCategoria">
                                                    <option value="<%= producto.categoria.id %>" selected>
                                                        <%= producto.categoria.nombre %></option>
                                                    <% categorias.forEach(categoria => { %>

                                                    <option value="<%= categoria.id %>"> <%= categoria.nombre %>
                                                    </option>

                                                    <% }) %>

                                                </select>
                                                <small id="errorCategoria" class="text-danger"><%= (typeof errors != 'undefined' && errors.categoria)?errors.categoria.msg: "" %> </small>

                                            </div>
                                            <div class="form-group col-12 col-lg-6">

                                                <select name="subcategoria" class="form-control" id="selectSub">
                                                    <option value="<%= producto.subcategoria?producto.subcategoria.id:'' %>" selected>
                                                        <%= producto.subcategoria?producto.subcategoria.nombre:'' %></option>
                                                </select>
                                                <small id="errorSubCategoria" class="text-danger"><%= (typeof errors != 'undefined' && errors.subcategoria)?errors.subcategoria.msg: "" %> </small>

                                            </div>
                                          
                                            
                                            <div class="col-12 d-flex justify-content-end mt-4">
                                                <a href="/users/profile"><button class="btn btn-danger mr-2"
                                                        type="button">Cancelar</button></a>
                                                <button class="btn btn-info" type="submit" value="<%= producto.imagenes %> " name="imagenOriginal">Guardar</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    </div>




    <%- include('partials/footer') %>
</body>

</html>