<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>

    <div class="container">
      <section class="login">
        <div class="row productos">
          <div class="titulo col-12">

            <h2><%= title %></h2>

          </div>
          <div class="col-12">
            <div class="contenido">
              <div class="row py-3 px-5">
                <div class="col-12 col-md-5 col-lg-6 col-xl-4 d-flex flex-column justify-content-center">
                  <figure>
                  <img src="/images/logo-mercado-liebre.svg" alt="" class="w-75"/>
                  </figure>
                </div>
                <div class="col-12 col-md-7 col-lg-6 col-xl-8 ">
                  <form action="" method="POST" enctype="multipart/form-data">

                    <div class="form-row">

                      <div class="form-group col-12 col-xl-6">
                        <label for="Nombre del producto"></label>
                        <input type="text"
                        class="form-control <%= (typeof old != 'undefined' && old.nombre)?"is-valid":(typeof errors != 'undefined' && errors.nombre)?"is-invalid": ""  %>"
                        id="nombre"  name="nombre"  value="<%= (typeof old != 'undefined' && old.nombre)?old.nombre:'' %>" placeholder="nombre del producto"/>
                        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.nombre)?errors.nombre.msg: "" %> </small>
                      </div>

                      <div class="form-group col-12 col-xl-6">
                        <label for="Titulo"></label>
                        <select name="categoria" id="" class="form-control">
                            <% categorias.forEach(categoria => { %>
                                <option value="<%= categoria.id %>"><%= categoria.nombre %> </option>
                            <% }) %>>
                        </select>
                      </div>

                    </div>

                
                    <div class="form-row">
                      <div class="form-group col-12 col-xl-6">
                        <label for="precio"></label>
                        <input type="number"
                        class="form-control <%= (typeof old != 'undefined' && old.precio && !errors.precio)?"is-valid":(typeof errors != 'undefined' && errors.precio)?"is-invalid": ""  %>"
                        id="precio" value="<%= (typeof old != 'undefined' && old.precio)?old.precio:'' %>" placeholder="precio" name="precio"/>
                        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.precio)?errors.precio.msg: "" %> </small>
                      </div>

                      <div class="form-group col-12 col-xl-6">
                        <label for="descuento"></label>
                        <input type="number"
                        class="form-control <%= (typeof old != 'undefined' && old.descuento && !errors.descuento)?"is-valid":(typeof errors != 'undefined' && errors.descuento)?"is-invalid": ""  %>"
                        id="descuento" value="<%= (typeof old != 'undefined' && old.descuento)?old.descuento:'' %>" placeholder="descuento" name="descuento"/>
                        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.descuento)?errors.descuento.msg: "" %> </small>
                      </div>

                      <div class="form-group col-12">
                        <label for="descripcion"></label>
                        <textarea name="descripcion" id="" cols="10" rows="5" class="form-control <%= (typeof old != 'undefined' && old.descripcion && !errors.descripcion)?"is-valid":(typeof errors != 'undefined' && errors.descripcion)?"is-invalid": ""  %>"><%= (typeof old != 'undefined' && old.descripcion)?old.descripcion:'' %></textarea>        
                        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.descripcion)?errors.descuento.msg: "" %> </small>
                      </div>
                    </div>
                 
                    <div class="form-row">
                        <div class="form-group col-12 col-xl-6">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input " id="customFileLang" lang="en" name="avatar">
                              <label class="custom-file-label" for="customFileLang">Imagenes</label>
                              <small class="text-danger"><%= (typeof errors != 'undefined' && errors.avatar)?errors.avatar.msg: "" %> </small>
                            </div>
                          </div>
                        <div class="col-12 col-xl-6">
                          <button type="submit" class="btn btn-primary">
                            Guardar
                          </button>
                        </div>

                    </div>
                    
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
