<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <div class="container py-5">
        <section>
            <div class="row productos">
                <% stores.forEach(store => { %>

                <div class="col-12 col-md-6 col-lg-4 col-xl-3">

                    <div class="contenido p-4">
                        <%= store.nombre %>
                        <img src="/images/logos/<%= store.logo %> " alt="">
                        <div>
                            <button class="btn btn-warning"><a href="/stores/login/<%= store.id %> ">Ingresar</a> </button>
                        </div>
                    </div>
                   
                </div>

                <% }) %>
            </div>
        </section>
    </div>
    <%- include('partials/footer') %>
</body>

</html>